.Notes {
    color: black;
    font-size: 2em;
    text-align: center;
    border: 2px;
    border-color: black;
    border-radius: 0.35em;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.col-md-2.col-md-offset-5 {
    border-radius: 0.35em;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.col-md-6.col-md-offset-3 {
    background-color: #ffffff;
    border-radius: 0.35em;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    font-size: 15px;
    text-align: left;
    padding: 10px;
}

.input {
    margin: auto;
    width: 240px;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 8px 0px;
    margin-top: 15px;
}

.input-addon {
    float: left;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 4px 8px;
    border-right: 2px solid rgba(255, 255, 255, 0.05);
}

.NoteButton {
    text-align: center;
}